<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DropCode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>DropCode 📦</h1>
      <p>Upload an image and get a code to download it.</p>
      <div id="upload-section">
        <form action="/upload" method="post" enctype="multipart/form-data" id="upload-form">
          <div class="file-input-wrap">
            <div class="file-input-clip">
              <input
                type="file"
                id="upload"
                name="file"
                accept="image/png, image/jpg, image/jpeg"
                required
              />
            </div>
            <span id="file-name" class="file-name"></span>
          </div>
          <button type="submit" id="upload-button">Upload image</button>
        </form>
      </div>

      <div id="upload-result" style="display: none;">
        <p>Your code is:</p>
        <h2 id="code-text"></h2>

        <p>Or scan this QR code:</p>
        <img id="qr-image" alt="QR code" />

        <p class="expiration-note">⚠️ This code is valid for 10 minutes</p>
      </div>

    </div>
    <div id="result"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
